body{
    text-align: center;
}
header{
    background-color: darkgray;
    font-family: Comic Sans MS;
    color: aliceblue;
}
nav{
    background-color: gray;
    font-family: Comic Sans MS;
    color: aliceblue;
}