body{
    text-align: center;
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}
header{
    background-color: rgb(105, 70, 246);
    font-family: Comic Sans MS;
    color: aliceblue;
    text-shadow: rgb(235, 231, 219) 1px 0 10px;
}
nav{
    background-color: gray;
    font-family: Comic Sans MS;
    color: aliceblue;
}

.numbers{
    font-family: Comic Sans MS;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    width: 100%;
    min-height: 10rem;
    margin-top: 10px;
    resize: vertical;
}

.article__box {
    grid-area: box;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    background: #fff;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
}

.article {
    display: grid;
    width: 600px;
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "box"
        "side"
        "sections";
}

@media (min-width: 992px)
.container {
    max-width: 960px;
}

#transparentBG{
    background-color:#ced4da61;
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.668);
    width: 725px;
    height: auto;
    margin-left: 26%;
    margin-right: 26%;
    box-shadow: rgb(241, 247, 255) 2px 0 20px;
    display: block;
}

#transparentBG2{
    text-align: left;
    background-color:#ced4da61;
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.668);
    width: 725px;
    height: auto;
    margin-left: 26%;
    margin-right: 26%;
    box-shadow: rgb(241, 247, 255) 2px 0 20px;
    display: none;
}

h1{
    color: white;
    font-family: Comic Sans MS;
    text-shadow: rgb(251, 229, 143) 1px 0 10px;
}

#titulos{
    font-size: 30px;
    margin-left: 7%;
}
#textos{
    color: white;
    font-family: Comic Sans MS;
    text-shadow: rgb(144, 143, 136) 1px 0 1px;
    font-size: 19px;
    margin-left: 7%;
    margin-right: 7%;
}

#result{
    color: rgba(255, 255, 255, 0.833);
    font-family: Comic Sans MS;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    background-color:#e4e6e971;
    border-radius: 9px;
    margin-right: 21%;
    margin-left: 21%;
    height: auto;
    overflow: auto;
}


button{
    background-color: rgba(214, 221, 254, 0.308);
    color: white;
    font-family: Comic Sans MS;
    font-size: 20px;
    border-radius: 15px;
    width: 80px;
    height: 75px;
    margin-right: 1.5%;
    margin-left: 1.5%;
    box-shadow: rgb(235, 231, 219) 1px 0 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.3s;
}
button:hover{
    background-color: rgba(214, 221, 254, 0.421);
    cursor: pointer;
    transform: translateY(-5px);
}
#info{
    text-align: left;
    position: absolute;
    background-color: rgba(158, 196, 228, 0.433);;
    border-radius: 9px;
    top: 80px;
    left: 1099px;
    width:50px;
    height:50px;
}
#info:hover{
    transform: translateY(-0.3px);
    width: 175px;
}

#info:hover #hide {
    max-width: 100%;
    transition: 0.7s;
  }

#hide {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.1s ease-in-out;
  }

#mensaje{
    color: rgba(255, 255, 255, 0.76);
    font-family: Comic Sans MS;
}

.scrollable {
    width: 300px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
  }